html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit; 
}
a {
    text-decoration: none;
    color: #fff;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #020205;
}
.container {
    max-width: 1470px; 
    padding: 0 15px;
    margin: 0 auto;
} 

@font-face {
    font-family: "Ustroke";
    src: url('../fonts/ustroke.ttf');
}
// @font-face {
//     font-family: 'Font Name';
//     src: local('Font Name'),
//          url('/fonts/font.woff2') format('woff2'), 
//          url('/fonts/font.woff') format('woff'),
//          url('/fonts/font.ttf') format('ttf'),
//          url('/fonts/font.eot') format('eot');
//   }
// #######HEADER#########
.header {
    margin-bottom: 90px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__left {
        max-width: 467px;
        background-color: #020205;
    }
    &__slogan {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 37px;
        margin-top: 105px;
    }
    &__name {
        font-family: Ustroke;
        font-size: 60px;
        margin-top: 0;
        margin-bottom: 36px;
    }
    &__name-title {
        font-family: Ustroke;
        font-size: 120px;
        line-height: 120px;
        margin-top: 0;
        margin-bottom: 34px;        
    }
    &__advances {
        font-family: Montserrat;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 17px;
        margin-top: 0;
        margin-bottom: 34px;
    }
    &__booking {
        display: inline-block;
        width: 214px;
        height: 54px;
        border: 1px solid #fff;
        font-family: Ustroke;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 67px;
    }
    &__socials {
        display: flex;
        justify-content: flex-start;
        align-items: center; 
        margin-bottom: 100px;
        height: 24px;
    }
    &__instagram {}
    &__instagram-icon {}
    &__telegram {
        margin: 0 35px;
    }
    &__telegram-icon {}
    &__facebook {}
    &__facebook-icon {}
}
.socials {
}

// #######GALLERY########
.gallery {
    margin-bottom: 110px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title {   
        width: 100%;     
        margin-top: 0;        
        font-family: Ustroke;
        font-size: 60px;
        line-height: 60px;
        text-align: right;
    }
    &__photos {
        display: flex;
        flex-direction: column;
    }
    &__top {
        display: flex;     
        max-height: 446px;
    }
    &__top-left {
    }
    &__top-left-img {
        width: 100%;
        height: auto;
    }
    &__top-center {

    }
    &__top-center-img {
        width: 100%;
        height: auto;
    }
    &__top-right {

    }
    &__top-right-top {
        max-height: 223px;
    }
    &__top-right-top-img {
        width: 100%;
        height: auto;
    }
    &__top-right-bottom {
        max-height: 223px;
    }
    &__top-right-bottom-img {
        width: 100%;
        height: auto;
    }
    &__bottom {
        display: flex;
    }
    &__bottom-left {
        width: 100%;
    }
    &__bottom-left-img {
        width: 100%;
        height: auto;
    }
    &__bottom-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &__bottom-right-wrap{
        max-width: 381px;
        max-height: 179px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: space-between;
    }
    &__instagram {}
    &__instagram-icon {}
    &__instagram-more {
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin: 32px 0;
    }
    &__instagram-nickname {
        line-height: 20px;
        text-decoration-line: underline;
        margin-bottom: 32px;
    }
    &__instagram-tag {
        font-size: 14px;
        line-height: 17px;
        margin: 0;
    }
}


// #######MENU###########
.menu {
    margin-bottom: 110px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__banner {
        display: flex;
    }
    &__vertical {
        max-width: 45px;
    }
    &__vertical-text {
        text-orientation: sideways;
        
    }
    &__main {
        max-width: 955px;
        display: flex;
        border: 5px solid #fff;
    }
    &__left {}
    &__left-img {}
    &__right {}
    &__right-top {}
    &__right-top-text {}
    &__right-bottom {}
    &__right-bottom-text {}
}

// #######BLOG###########
.blog {
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title {}
    &__articles {
        display: flex;
        gap: 24px;
        margin-bottom: 50px;
    }
    &__left {
        width: 100%;
        display: flex;
    }
    &__article-date {}
    &__article-title {}
    &__article-text {}
    &__article-more {}
    &__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__right-top {}
    &__right-bottom {}
    &__link {
        display: inline-block;
        width: 214px;
        height: 54px;
        border: 1px solid #fff;        
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// #######BOOKING########

// #######ABOUT##########

// #######FOOTER#########

