html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit; 
}
a {
    text-decoration: none;
    color: #fff;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #020205;
}
.container {
    max-width: 1470px; 
    padding: 0 15px;
    margin: 0 auto;
} 

@font-face {
    font-family: "Ustroke";
    src: url('../fonts/ustroke.ttf');
}
// @font-face {
//     font-family: 'Font Name';
//     src: local('Font Name'),
//          url('/fonts/font.woff2') format('woff2'), 
//          url('/fonts/font.woff') format('woff'),
//          url('/fonts/font.ttf') format('ttf'),
//          url('/fonts/font.eot') format('eot');
//   }
// #######HEADER#########
.header {
    margin-bottom: 90px;
    
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-position: right;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &__left {
        max-width: 362px;
        background-color: #020205;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__slogan {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 37px;
        margin-top: 105px;
    }
    &__name {
        font-family: Ustroke;
        font-size: 60px;
        margin-top: 0;
        margin-bottom: 36px;
    }
    &__name-title {
        font-family: Ustroke;
        font-size: 120px;
        line-height: 120px;
        margin-top: 0;
        margin-bottom: 34px;        
    }
    &__advances {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-top: 0;
        margin-bottom: 34px;
        max-width: 330px;
    }
    &__booking {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 214px;
        height: 54px;
        border: 1px solid #fff;
        font-family: Ustroke;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 67px;
    }
    &__socials {        
        margin-bottom: 100px;
    }
    &__instagram {}
    &__instagram-icon {}
    &__telegram {}
    &__telegram-icon {}
    &__facebook {}
    &__facebook-icon {}
}
.socials {
    width: 142px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

// #######GALLERY########
.gallery {
    margin-bottom: 110px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title {
        width: 100%;     
        margin-top: 0;        
        font-family: Ustroke;
        font-size: 60px;
        line-height: 60px;
        text-align: right;
    }
    &__photos {
        display: flex;
        flex-direction: column;
    }
    &__top-left {
        grid-column: 1 / 2 ;
        grid-row: 1 / 3;
    }
    &__top-left-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__top-center {
        grid-column: 2 / 3 ;
        grid-row: 1 / 3;
    }
    &__top-center-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__top {
        width: 100%;
        display: grid;
        grid-template-columns: 1.3fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    &__top-right-top {
        grid-column: 3 / 4 ;
        grid-row: 1 / 2;
    }
    &__top-right-top-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__top-right-bottom {
        grid-column: 3 / 4 ;
        grid-row: 2 / 3;
    }
    &__top-right-bottom-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__bottom {
        display: flex;
    }
    &__bottom-left {
        max-width: 573px;
    }
    &__bottom-left-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__bottom-right {
        width: 573px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__bottom-right-wrap {
        width: 381px;
        height: 179px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: 20px;
    }
    &__instagram {}
    &__instagram-icon {}
    &__instagram-more {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin: 32px 0;
    }
    &__instagram-nickname {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        margin: 0;
        margin-bottom: 32px;
    }
    &__instagram-tag {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 0;
    }
}

// #######MENU###########
.menu {
    margin-bottom: 110px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__banner {
        display: flex;
    }
    &__vertical {
        width: 45px;
    }
    &__vertical-text {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-family: Ustroke;
        font-size: 26px;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: -0.04em;
        margin: 0;
    }
    &__main {
        max-width: 911px;
        border: 5px solid #fff;
        display: grid;
        // grid-template-columns: 306px 605px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
    }
    &__left {
        grid-column: 1 / 2;
        grid-row: 1 / 3 ;
        margin-top: 78px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        max-width: 257px;
    }
    &__left-img {
        width: 100%;
        height: auto;
    }

    &__right-top {
        grid-column: 2 / 3;
        grid-row: 1 / 2 ;
        display: flex;
        align-items: flex-end;
        margin-right: 85px;
    }
    &__right-top-text {
        display: inline-block;
        max-width: 544px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        margin: 0;
        padding: 15px 60px;
        position: relative;

    }

    &__right-top-text::before {
        position: absolute;
        content: ' ';
        background-image: url(../img/menu-left.svg);
        background-size: contain;
        left: 0;
        top: 0;
        width: 36px;
        height: 141px;
    }
    &__right-top-text::after {
        position: absolute;
        content: ' ';
        background-image: url(../img/menu-right.svg);
        background-size: contain;
        right: 0;
        bottom: 0;
        width: 36px; 
        height: 141px;
    }



    &__right-bottom {
        grid-column: 2 / 3;
        grid-row: 2 / 3 ;
        display: flex;
        align-items: flex-start;
    }
    &__right-bottom-text {
        font-style: italic;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        margin-top: 49px;
        margin-bottom: 0;
        padding-left: 60px;
    }
}

// #######BLOG###########
.blog {
    margin-bottom: 100px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title {
        font-family: Ustroke;
        font-weight: 400;
        font-size: 60px;
        line-height: 60px;
        margin-top: 0;
        margin-bottom: 50px;
    }
    &__articles {
        display: flex;
        gap: 24px;
        margin-bottom: 50px;
    }
    &__left {
        max-width: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__left-article-wrap{
        max-width: 370px;
        height: 402px;
        margin: 49px 108px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__article-date {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 32px;
    }
    &__article-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }
    &__article-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-top: 32px;
        margin-bottom: 10px;
    }
    &__article-more {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration: underline;
        margin-top: 22px;
    }
    &__right {
        max-width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        p {
            text-align: left;
        }
    }
    &__right-top {
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__right-bottom {
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__right-article-wrap{
        max-width: 480px;
        height: 140px;
        margin: 49px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__link {
        display: inline-block;
        width: 214px;
        height: 54px;
        border: 1px solid #fff;        
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
}

// #######BOOKING########
.booking {
    margin-bottom: 100px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;

    }
    &__left {
        max-width: 349px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__title {
        font-family: Ustroke;
        font-size: 46px;
        line-height: 46px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 7px;
    }
    &__text {
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        margin: 0;
    }
    &__right-link {
        display: inline-block;
        width: 349px;
        height: 111px;
        border: 1px solid #fff;  
        font-family: Ustroke;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


// #######ABOUT##########
.about {
    margin-bottom: 52px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    &__address {
        display: flex;
        align-items: flex-start;
        margin-right: 34px;
    }
    &__address-img {
        margin-right: 12px;
    }
    &__address-text {
        margin: 0;
    }
    &__clock {
        display: flex;
        align-items: flex-start;
        margin-right: 34px;
    }
    &__clock-img {
        margin-right: 12px;
    }
    &__clock-text {
        margin: 0;
    }
    &__phone {
        display: flex;
        align-items: flex-start;
    }
    &__phone-img {
        margin-right: 12px;
    }
    &__phone-text {
        margin: 0;
    }
}

// #######FOOTER#########
.footer {
    border-top: 1px solid #222224;
    &__inner {
        margin: 0 auto;
        max-width: 912px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 8px;
        width: 100%;
    }
    &__logo {}
    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 298px;
        margin-left: 45px;
    }
    &__link {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }
    &__socials {
        width: 102px;
        height: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    &__socials-link {        
    }
    &__instagram-icon {
        height: 16px;
    }    
    &__telegram-icon {
        height: 16px;
    }
    &__facebook-icon {
        height: 16px;
    }
    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 16px;
        
    }
    &__bottom-text {
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
    }
}
// MEDIA -- MAIN PAGE--
@media (max-width: 1024px) {
    .header {
        &__left {
            background-color: transparent;
        }
    }   
    .blog {
        &__left-article-wrap{
            margin: 30px 60px;
        }
    } 
    .menu {
        &__right-top-text {
            font-size: 18px;
            line-height: 18px;
        }
    }
}

@media (max-width: 800px) {
    .header {
        &__inner {
            justify-content: center;
            background-position: center;
            // background-size: 150%;
        }
        &__left {
            width: 100%;
            align-items: center;
        }
        &__name {
            text-align: center;
        }
        &__advances {
            text-align: center;
        }
    }   
    .gallery {
        &__title {
            font-weight: 400;
        }
        &__bottom-right-wrap {
            width: 250px;
            height: 130px;
        }
        &__instagram {}
        &__instagram-icon {}
        &__instagram-more {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-transform: none;
            margin: 15px 0;
        }
        &__instagram-nickname {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 15px;
        }
        &__instagram-tag {
            font-size: 12px;
            line-height: 14px;
        }
    }

    .menu {
        &__main {
            grid-template-columns: 40% 60%;
            grid-template-rows: 50% 50%;
            max-height: 403px;
        }
        &__left {
            grid-column: 1 / 2;
            grid-row: 2 / 3 ;
        }
        &__left-img {
            width: 160px;
        }
        &__right-top {
            grid-column: 1 / 3;
            grid-row: 1 / 2 ;
            margin: 0;
            justify-content: center;
            max-height: 150px;
        }
        &__right-top-text {
            padding: 0 30px 10px;
            margin: 0 10px;
        }
        &__right-top-text::before {
            width: 16px;
            height: 64px;
        }
        &__right-top-text::after {
            width: 16px;
            height: 64px;
        }
        &__right-bottom {
            grid-column: 2 / 3;
            grid-row: 2 / 3 ;
        }
        &__right-bottom-text {
            padding: 0;
        }
    }

    .blog {
        &__left {
            max-width: 450px;
        }
        &__articles {
            flex-direction: column;
        }
    }
}

@media (max-width: 640px) {
    .gallery {
        &__title {
            font-size: 32px;
            line-height: 32px;
            text-align: center;
        }
    }
    .gallery {
            &__bottom-left{
                width: 100%;
            }
            &__bottom-right{
                width: 100%;
            }
            &__bottom-right-wrap {
                max-width: 150px;
                height: 130px;
                justify-content: center;
            }
            
            &__instagram-icon {
                width: 12px;
                height: 12px;
            }
            &__instagram-more {
                font-size: 10px;
                line-height: 12px;
            }
            &__instagram-nickname {
                font-size: 14px;
                line-height: 17px;
            }
            &__instagram-tag {
                font-size: 12px;
                line-height: 12px;
                margin-bottom: 5px;
            }
        }
    .menu {
        &__vertical-text {
            font-size: 19px;
        }
        &__main {
            max-height: 295px;
        }
        &__left-img {
            width: 127px;
        }
        &__right-top{
            align-items: center;
        }
        &__right-top-text {
            font-size: 12px;
            line-height: 15px;
        }
        &__right-bottom {
            align-items: center;
        }
        &__right-bottom-text {
            font-size: 12px;
            line-height: 15px;
            margin: 0;
            padding: 0 20px;
        }
    }
    
    .blog {
        &__title {
            font-weight: 400;
            font-size: 32px;
            line-height: 32px;
        }
        &__left {
            max-width: 375px;
        }
        &__left-article-wrap{
            margin: 30px 40px;
        }
        &__article-date {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
        &__article-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 27px;
        }
        &__article-text {
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
        }
        &__article-more {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    }

    .booking {
        &__inner {
            flex-direction: column;
            gap: 42px;
        }
        &__left {
            align-items: center;
        }
        &__title {
            text-align: center;
            margin-bottom: 42px;
            font-size: 48px;
            line-height: 48px;
        }
        &__text {
            text-align: center;
            font-size: 18px;
            line-height: 22px;
        }
        &__right-link {
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            width: 270px;
            height: 70px;
        }
    }
    .about {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        &__inner {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        &__clock {
            display: none;
        }
        &__address {
            margin: 0;
        }
    }

    .footer {        
        &__top {
            flex-direction: column-reverse;
            gap: 19px;
            margin-top: 9px;
            margin-bottom: 19px;
        }
        &__text {
            margin-left: 0;
        }
        &__socials {
            display: none;    
        }
        &__bottom {
            margin-bottom: 8px;
            
        }
    }
}



// page--ABOUT--
.about-header {
    &__inner {
        margin: 27px auto 82px;
        max-width: 1150px;
        display: flex; 
        justify-content: flex-end;
        position: relative;
    }
    &__img {        
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 100px;        
    }
    &__socials {
        height: 94px;
    }
}

.about-name {
    margin-bottom: 50px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: Ustroke;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        margin: 0;
    }
}

.about-us {
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        align-items: flex-start; 
        justify-content: center;
        margin-bottom: 86px;
        gap: 21px;
    }
    &__left {
        max-width: 446px;
        min-width: 295px;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__right {
        max-width: 680px;
    }
    &__right-text {
        max-width: 680px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}

.about-reviews {
    margin-bottom: 53px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }
    &__item {
        display: flex;
        gap: 86px;
    }
    &__item:nth-child(even) {
        flex-direction: row-reverse;

    }
    &__img {
        max-width: 234px;
        max-height: 234px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__text-name {
        font-family: Ustroke;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 36px;
        margin-top: 0;
        margin-bottom: 50px;
    }
    &__text-response {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
    }
}
// MEDIA --page--ABOUT--
@media (max-width: 800px) {
    .about-us {
        &__inner {
            flex-direction: column;
            align-items: center; 
        }
    }
    .about-reviews {
        &__item {

            gap: 30px;
        }
    }
}

@media (max-width: 640px) {
    .about-header {
        &__inner {
            margin: 27px auto 82px;
            max-width: 1150px;
            display: flex; 
            justify-content: flex-end;
            position: relative;
        }
        &__img {        
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            width: 54px;
        }
        &__socials {
            display: none;
        }
    }
    .about-name {
        margin-bottom: 50px;
        &__inner {
            margin: 0 auto;
            max-width: 1150px;
            display: flex; 
            justify-content: center;
            align-items: center;
        }
        &__title {
            font-family: Ustroke;
            font-weight: 400;
            font-size: 36px;
            line-height: 36px;
            margin: 0;
        }
    }
    .about-us {
        &__inner {
            margin-bottom: 30px;
        }
        &__right-text {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .about-reviews {
        &__item {
            display: block;
            margin-bottom: 30px;
        }
        &__img {
            float: left;
            max-width: 122px;
            max-height: 122px;
            margin: 15px;
        }
        &__text {
            margin-left: 20px;
            display: inline;
            
        }
        &__item:nth-child(even) {
            img {
                float: right;
            }
        }
        &__text-name {
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 18px;
        }
        &__text-response {
            font-size: 16px;
            line-height: 20px;
        }
    }
}


// page--BLOG--
.blog-header {
    &__inner {
        margin: 27px auto 82px;
        max-width: 1150px;
        display: flex; 
        justify-content: flex-end;
        position: relative;
    }
    &__img {        
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 100px;
    }
    &__socials {
        height: 94px;
    }
}

.blog-name {
    margin-bottom: 50px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: Ustroke;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        margin: 0;
    }
}

.blog-articles {
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__item {
        display: flex; 
        justify-content: center;
        align-items: center;
        gap: 23px;
        margin-bottom: 80px;
    }
    &__item:nth-child(even) {
        flex-direction: row-reverse;
    }
    &__item:nth-child(5) {
        margin-bottom: 61px;
    }

    &__img {
        max-width: 560px;
        min-width: 317px;
    }
    &__text {
        max-width: 563px;
        min-height: 313px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

    }
    &__text-date {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #BBBBBB;
        margin: 0;
    }
    &__text-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-transform: uppercase;
        margin: 0;
    }
    &__text-story {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
    }
    &__text-details {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
    }
    &__more {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;
        margin-bottom: 99px;
    }
}
// MEDIA --page--BLOG--
@media (max-width: 800px) {
    .blog-articles {
        &__item {
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 23px;
            margin-bottom: 80px;
        }
        &__item:nth-child(even) {
            flex-direction: column;
        }
        &__img {
            width: 317px;
        }
    }
}

@media (max-width: 640px) {
    .blog-header {
        &__inner {
            margin: 27px auto 82px;
            max-width: 1150px;
            display: flex; 
            justify-content: flex-end;
            position: relative;
        }
        &__img {        
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            width: 54px;
        }
        &__socials {
            display: none;
        }
    }

    .blog-name {
        margin-bottom: 50px;
        &__inner {
            margin: 0 auto;
            max-width: 1150px;
            display: flex; 
            justify-content: center;
            align-items: center;
        }
        &__title {
            font-family: Ustroke;
            font-weight: 400;
            font-size: 36px;
            line-height: 36px;
            margin: 0;
        }
    }
    .blog-articles {
        &__more {
            display: none;
        }
    }
}

@media (max-width: 480px) {
    .blog-articles {
        &__text-date{
            margin-bottom: 23px;
        }
        &__text-title{
            margin-bottom: 23px;
        }
        &__text-story{
            margin-bottom: 23px;
        }
    }
}

// page--MENU--
.menu-header {
    &__inner {
        margin: 27px auto 82px;
        max-width: 1150px;
        display: flex; 
        justify-content: flex-end;
        position: relative;
    }
    &__img {        
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 100px;
    }
    &__socials {
        height: 94px;
    }
}

.menu-name {
    margin-bottom: 50px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: Ustroke;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        margin: 0;
    }
}

.menu-full {
    margin-bottom: 175px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }
}
// MEDIA --page--MENU--
@media (max-width: 640px) {
    .menu-header {
        &__inner {
            margin: 27px auto 82px;
            max-width: 1150px;
            display: flex; 
            justify-content: flex-end;
            position: relative;
        }
        &__img {        
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            width: 54px;
        }
        &__socials {
            display: none;
        }
    }

    .menu-name {
        margin-bottom: 50px;
        &__inner {
            margin: 0 auto;
            max-width: 1150px;
            display: flex; 
            justify-content: center;
            align-items: center;
        }
        &__title {
            font-family: Ustroke;
            font-weight: 400;
            font-size: 36px;
            line-height: 36px;
            margin: 0;
        }
    }

    .menu-full {
        margin-bottom: 68px;
    }
}

// page--RULES--
.rules-header {
    &__inner {
        margin: 27px auto 82px;
        max-width: 1150px;
        display: flex; 
        justify-content: flex-end;
        position: relative;
    }
    &__img {        
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 100px;
    }
    &__socials {
        height: 94px;
    }
}

.rules-name {
    margin-bottom: 50px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: Ustroke;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        margin: 0;
    }
}

.rules-friends {
    margin-bottom: 100px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        justify-content: center;
        align-items: center;
        gap: 107px;
    }
    &__left {}
    &__left-text {
        max-width: 269px;
        font-weight: 500;
        font-size: 38px;
        line-height: 46px;
        margin: 0;
    }
    &__left-text-big {
        font-weight: 700;
        text-transform: uppercase;
    }
    &__right {}
    &__right-text {
        max-width: 769px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        position: relative;
        padding: 17px 56px;
    }
    &__right-text::before {
        position: absolute;
        content: url(../img/rules-quote-left.svg);
        left: 0;
        top: 0;
        width: 36px;
        height: 31px;
    }
    &__right-text::after {
        position: absolute;
        content: url(../img/rules-quote-right.svg);
        right: 0;
        bottom: 0;
        width: 36px;
        height: 31px;
    }
}

.rules-main {
    margin-bottom: 90px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    &__general{
        display: flex;
        gap: 24px;
        margin-bottom: 40px;
    }
    &__left {
        display: flex;
        flex-direction: column;
        
    }
    &__left-text {
        max-width: 563px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
    &__right {
        display: flex;
        flex-direction: column;
    }
    &__right-text {
        max-width: 563px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
    &__kaif {}
}

.rules-main {
    // table {
    //     border: 5px solid #fff;
    // }
    &__table {
        border: 5px solid #fff;
        max-width: 563px;
        border-collapse: collapse;
        
    }
    &__table-head {
        border-bottom: 5px solid #fff;
    }
    &__table-head-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        padding: 30px 36px;
    }
    &__table-text-title {
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        padding: 29px 36px 29px 36px;
    }
    &__table-text-big {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;        
    }
    &__table-text {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding: 0 10px 22px 36px;
    }
}

// MEDIA --page--RULES--
@media (max-width: 800px) {
    .rules-friends {
        &__inner {
            flex-direction: column;
            align-items: center; 
            gap: 30px;
        }
        &__left-text{
            text-align: center;
        }
    }    
    .rules-main {
        margin-bottom: 31px;
        &__general {
            flex-direction: column;
        }
    }
}

@media (max-width: 640px) {
    .rules-header {
        &__inner {
            margin: 27px auto 82px;
            max-width: 1150px;
            display: flex; 
            justify-content: flex-end;
            position: relative;
        }
        &__img {        
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            width: 54px;
        }
        &__socials {
            display: none;
        }
    }
    .rules-name {
        margin-bottom: 50px;
        &__inner {
            margin: 0 auto;
            max-width: 1150px;
            display: flex; 
            justify-content: center;
            align-items: center;
        }
        &__title {
            font-family: Ustroke;
            font-weight: 400;
            font-size: 36px;
            line-height: 36px;
            margin: 0;
            text-align: center;
        }
    }
    .rules-friends {
        margin-bottom: 37px;
        &__left-text {
            font-size: 24px;
            line-height: 30px;
        }
        &__left-text-big {
            font-size: 28px;
            line-height: 34px;
        }
        &__right-text {
            padding: 56px 5px;
        }
    }
    .rules-main {
        &__left-text {
            font-size: 16px;
            line-height: 20px;
        }
        &__right-text {
            font-size: 16px;
            line-height: 20px;
        }
        &__table-head-text {
            font-size: 16px;
            line-height: 20px;
        }
        &__table-text-title {
            font-size: 18px;
            line-height: 22px;
        }
        &__table-text-big {
            font-size: 24px;
            line-height: 29px;
        }
        &__table-text {
            font-size: 14px;
            line-height: 17px;
        }
    }
}




