html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit; 
}
a {
    text-decoration: none;
    color: #fff;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #020205;
}
.container {
    max-width: 1470px; 
    padding: 0 15px;
    margin: 0 auto;
} 

@font-face {
    font-family: "Ustroke";
    src: url('../fonts/ustroke.ttf');
}
// @font-face {
//     font-family: 'Font Name';
//     src: local('Font Name'),
//          url('/fonts/font.woff2') format('woff2'), 
//          url('/fonts/font.woff') format('woff'),
//          url('/fonts/font.ttf') format('ttf'),
//          url('/fonts/font.eot') format('eot');
//   }
// #######HEADER#########
.header {
    margin-bottom: 90px;
    
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-position: right bottom;
        background-repeat: no-repeat;
    }
    &__left {
        max-width: 362px;
        background-color: #020205;
    }
    &__slogan {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 37px;
        margin-top: 105px;
    }
    &__name {
        font-family: Ustroke;
        font-size: 60px;
        margin-top: 0;
        margin-bottom: 36px;
    }
    &__name-title {
        font-family: Ustroke;
        font-size: 120px;
        line-height: 120px;
        margin-top: 0;
        margin-bottom: 34px;        
    }
    &__advances {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-top: 0;
        margin-bottom: 34px;
        max-width: 330px;
    }
    &__booking {
        display: inline-block;
        width: 214px;
        height: 54px;
        border: 1px solid #fff;
        font-family: Ustroke;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 67px;
    }
    &__socials {        
        margin-bottom: 100px;
    }
    &__instagram {}
    &__instagram-icon {}
    &__telegram {}
    &__telegram-icon {}
    &__facebook {}
    &__facebook-icon {}
}
.socials {
    width: 142px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

// #######GALLERY########
.gallery {
    margin-bottom: 110px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title {   
        width: 100%;     
        margin-top: 0;        
        font-family: Ustroke;
        font-size: 60px;
        line-height: 60px;
        text-align: right;
    }
    &__photos {
        display: flex;
        flex-direction: column;
    }
    &__top {
        display: flex;     
        max-height: 446px;
    }
    &__top-left {
    }
    &__top-left-img {
        width: 100%;
        height: auto;
    }
    &__top-center {

    }
    &__top-center-img {
        width: 100%;
        height: auto;
    }
    &__top-right {

    }
    &__top-right-top {
        max-height: 223px;
    }
    &__top-right-top-img {
        width: 100%;
        height: auto;
    }
    &__top-right-bottom {
        max-height: 223px;
    }
    &__top-right-bottom-img {
        width: 100%;
        height: auto;
    }
    &__bottom {
        display: flex;
    }
    &__bottom-left {
        width: 100%;
    }
    &__bottom-left-img {
        width: 100%;
        height: auto;
    }
    &__bottom-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &__bottom-right-wrap{
        max-width: 381px;
        max-height: 179px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: space-between;
    }
    &__instagram {}
    &__instagram-icon {}
    &__instagram-more {
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin: 32px 0;
    }
    &__instagram-nickname {
        line-height: 20px;
        text-decoration-line: underline;
        margin-bottom: 32px;
    }
    &__instagram-tag {
        font-size: 14px;
        line-height: 17px;
        margin: 0;
    }
}


// #######MENU###########
.menu {
    margin-bottom: 110px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__banner {
        display: flex;
    }
    &__vertical {
        width: 45px;
    }
    &__vertical-text {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-family: Ustroke;
        font-size: 26px;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: -0.04em;
        margin: 0;
    }
    &__main {
        max-width: 911px;
        display: flex;
        border: 5px solid #fff;
        display: grid;
        grid-template-columns: 306px 605px;
        grid-template-rows: 1fr 1fr;
    }
    &__left {
        grid-column: 1 / 2;
        grid-row: 1 / 3 ;
        margin-top: 78px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        max-width: 257px;
    }
    &__left-img {
        width: 100%;
        height: auto;
    }

    &__right-top {
        grid-column: 2 / 3;
        grid-row: 1 / 2 ;
        display: flex;
        align-items: flex-end;
    }
    &__right-top-text {
        display: inline-block;
        max-width: 544px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        margin: 0;
        padding: 0 60px 10px 60px;
        position: relative;

    }

    &__right-top-text::before {
        position: absolute;
        content: url(../img/menu-left.svg);
        left: 0;
        bottom: 0;
        width: 36px;
        height: 141px;
    }
    &__right-top-text::after {
        position: absolute;
        content: url(../img/menu-right.svg);
        right: 0;
        bottom: 0;
        width: 36px;
        height: 141px;
    }



    &__right-bottom {
        grid-column: 2 / 3;
        grid-row: 2 / 3 ;
        display: flex;
        align-items: flex-start;
    }
    &__right-bottom-text {
        font-style: italic;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        margin-top: 49px;
        margin-bottom: 0;
        padding-left: 60px;
    }
}

// #######BLOG###########
.blog {
    margin-bottom: 100px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title {
        font-family: Ustroke;
        font-weight: 400;
        font-size: 60px;
        line-height: 60px;
        margin-top: 0;
        margin-bottom: 50px;
    }
    &__articles {
        display: flex;
        gap: 24px;
        margin-bottom: 50px;
    }
    &__left {
        max-width: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__left-article-wrap{
        max-width: 370px;
        height: 402px;
        margin: 49px 108px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__article-date {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 32px;
    }
    &__article-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }
    &__article-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-top: 32px;
        margin-bottom: 10px;
    }
    &__article-more {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration: underline;
        margin-top: 22px;
    }
    &__right {
        max-width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    &__right-top {
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__right-bottom {
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__right-article-wrap{
        max-width: 480px;
        height: 140px;
        margin: 49px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__link {
        display: inline-block;
        width: 214px;
        height: 54px;
        border: 1px solid #fff;        
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
}

// #######BOOKING########
.booking {
    margin-bottom: 100px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;

    }
    &__left {
        max-width: 349px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__title {
        font-family: Ustroke;
        font-size: 46px;
        line-height: 46px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 7px;
    }
    &__text {
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        margin: 0;
    }
    &__right-link {
        display: inline-block;
        width: 349px;
        height: 111px;
        border: 1px solid #fff;  
        font-family: Ustroke;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


// #######ABOUT##########
.about {
    margin-bottom: 52px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    &__address {
        display: flex;
        align-items: flex-start;
        margin-right: 34px;
    }
    &__address-img {
        margin-right: 12px;
    }
    &__address-text {
        margin: 0;
    }
    &__clock {
        display: flex;
        align-items: flex-start;
        margin-right: 34px;
    }
    &__clock-img {
        margin-right: 12px;
    }
    &__clock-text {
        margin: 0;
    }
    &__phone {
        display: flex;
        align-items: flex-start;
    }
    &__phone-img {
        margin-right: 12px;
    }
    &__phone-text {
        margin: 0;
    }
}

// #######FOOTER#########
.footer {
    border-top: 1px solid #222224;
    &__inner {
        margin: 0 auto;
        max-width: 912px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 8px;
        width: 100%;
    }
    &__logo {}
    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 298px;
        margin-left: 45px;
    }
    &__link {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }
    &__socials {
        width: 102px;
        height: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    &__socials-link {        
    }
    &__instagram-icon {
        height: 16px;
    }    
    &__telegram-icon {
        height: 16px;
    }
    &__facebook-icon {
        height: 16px;
    }
    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 16px;
        
    }
    &__bottom-text {
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
    }
}

// page--ABOUT--
.about-header{
    &__inner {
        margin: 27px auto 82px;
        max-width: 1150px;
        display: flex; 
        justify-content: flex-end;
        position: relative;
    }
    &__img {        
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 100px;
    }
    &__socials {
        height: 94px;
    }
}

.about-us {
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        margin-bottom: 86px;
    }
    &__title {
        font-family: Ustroke;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
    }
    &__bottom {
        display: flex;
        gap: 21px;
    }
    &__bottom-left {
        max-width: 446px;
        min-width: 295px;
    }
    &__bottom-img {
        width: 100%;
        height: auto;
    }
    &__bottom-right {
        max-width: 680px;
    }
    &__bottom-text {
        max-width: 680px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}

.about-reviews {
    margin-bottom: 53px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }
    &__item {
        display: flex;
        gap: 86px;
    }
    &__item:nth-child(even) {
        flex-direction: row-reverse;

    }
    &__img {}
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__text-name {
        font-family: Ustroke;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 36px;
        margin-top: 0;
        margin-bottom: 50px;
    }
    &__text-response {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
    }
}

// page--BLOG--
.blog-header {
    &__inner {
        margin: 27px auto 82px;
        max-width: 1150px;
        display: flex; 
        justify-content: flex-end;
        position: relative;
    }
    &__img {        
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 100px;
    }
    &__socials {
        height: 94px;
    }
}

.blog-name {
    margin-bottom: 50px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: Ustroke;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        margin: 0;
    }
}

.blog-articles {
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__item {
        display: flex; 
        justify-content: center;
        align-items: center;
        gap: 23px;
        margin-bottom: 80px;
    }
    &__item:nth-child(even) {
        flex-direction: row-reverse;
    }
    &__item:nth-child(5) {
        margin-bottom: 61px;
    }

    &__img {
        max-width: 560px;
        min-width: 317px;
    }
    &__text {
        max-width: 563px;
        height: 313px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

    }
    &__text-date {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #BBBBBB;
        margin: 0;
    }
    &__text-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-transform: uppercase;
        margin: 0;
    }
    &__text-story {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
    }
    &__text-details {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
    }
    &__more {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;
        margin-bottom: 99px;
    }
}

// page--MENU--
.menu-header {
    &__inner {
        margin: 27px auto 82px;
        max-width: 1150px;
        display: flex; 
        justify-content: flex-end;
        position: relative;
    }
    &__img {        
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 100px;
    }
    &__socials {
        height: 94px;
    }
}

.menu-name {
    margin-bottom: 50px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: Ustroke;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        margin: 0;
    }
}

.menu-full {
    margin-bottom: 175px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }
    &__img-1 {}
    &__img-2 {}
    &__img-3 {}
}

// page--RULES--
.rules-header {
    &__inner {
        margin: 27px auto 82px;
        max-width: 1150px;
        display: flex; 
        justify-content: flex-end;
        position: relative;
    }
    &__img {        
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 100px;
    }
    &__socials {
        height: 94px;
    }
}

.rules-name {
    margin-bottom: 50px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: Ustroke;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        margin: 0;
    }
}

.rules-friends {
    margin-bottom: 100px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        justify-content: center;
        align-items: center;
        gap: 107px;
    }
    &__left {}
    &__left-text {
        max-width: 269px;
        font-weight: 500;
        font-size: 38px;
        line-height: 46px;
        margin: 0;
    }
    &__left-text-big {
        font-weight: 700;
        text-transform: uppercase;
    }
    &__right {}
    &__right-text {
        max-width: 769px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        position: relative;
        padding: 17px 56px;
    }
    &__right-text::before {
        position: absolute;
        content: url(../img/rules-quote-left.svg);
        left: 0;
        top: 0;
        width: 36px;
        height: 31px;
    }
    &__right-text::after {
        position: absolute;
        content: url(../img/rules-quote-right.svg);
        right: 0;
        bottom: 0;
        width: 36px;
        height: 31px;
    }
}

.rules-main {
    margin-bottom: 90px;
    &__inner {
        margin: 0 auto;
        max-width: 1150px;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    &__general{
        display: flex;
        gap: 24px;
        margin-bottom: 40px;
    }
    &__left {
        display: flex;
        flex-direction: column;
        
    }
    &__left-text {
        max-width: 563px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
    &__right {
        display: flex;
        flex-direction: column;
    }
    &__right-text {
        max-width: 563px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
    &__kaif {}
}




